.edit-profile-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 8px;
  padding-bottom: 16px;
}

.full-width {
  width: 100%;
}

.row {
  display: flex;
  gap: 16px;
  
  .col-half {
    flex: 1;
  }
}

@media (max-width: 600px) {
  .row {
    flex-direction: column;
    gap: 0;
  }
}
