# Bloqueia qualquer script de "post-install" malicioso durante a instalação
ignore-scripts=true

# Força o npm a sempre salvar a versão EXATA (sem o chapeuzinho ^) ao instalar novos pacotes
save-exact=true
