rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      // Exigir autenticação para leitura e gravação
      allow read, write: if request.auth != null;
    }
  }
}
